.container {
    display: flex;
    height: 100vh;
}

.left-column {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03055B; /* Dark blue background color */
}

.left-column img {
    width: 80px;
    height: 80px;
    border-radius: 5%;
}

.vertical-band {
    width: 5px;
    background-color: #ccc;
    position: relative;
}

.band-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.middle-column {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-column {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
